[Unit]
Description=isuumo.rust

[Service]
WorkingDirectory=/home/isucon/isuumo/webapp/rust
EnvironmentFile=/home/isucon/env.sh
PIDFile=/home/isucon/isuumo/webapp/rust/server.pid

User=isucon
Group=isucon
ExecStart=/home/isucon/isuumo/webapp/rust/target/release/isuumo
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple
[Install]
WantedBy=multi-user.target
