- name: Build Web Application ruby
  become: yes
  become_user: isucon
  args:
    chdir: /home/isucon/isuumo/webapp/ruby
  environment:
    PATH: "/home/isucon/local/go/bin:/home/isucon/local/node/bin:/home/isucon/local/ruby/bin:/home/isucon/local/python/bin:/home/isucon/local/perl/bin:/home/isucon/local/php/bin:/home/isucon/.cargo/bin:/home/isucon/.deno/bin:/home/isucon/bin:/home/isucon/.local/bin:/usr/bin:/sbin:/bin"
  shell: |
    bundle config set deployment true && \
    bundle config set path /gems && \
    bundle config set without 'development test' && \
    bundle install -j4
- name: Copy service file
  copy:
    src: "{{ item }}"
    dest: "/etc/systemd/system"
    owner: "root"
    group: "root"
    mode: "0644"
  with_items:
    - isuumo.ruby.service
